.pie-chart-custome text {
  color: transparent !important;
  fill: transparent !important;
  font-size: 0.2rem;
}
.pie-chart-custome .recharts-legend-wrapper {
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, 0);
}
.pie-chart-custome ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  gap: 0.6rem;
}
.pie-chart-custome ul li {
  width: 15rem;
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.bar-chart-custome .recharts-xAxis tspan {
  fill: transparent !important;
  color: transparent !important;
}
.bar-chart-custome {
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
}

.pie-chart-custome {
  width: 100% !important;
}

@media (max-width: 430px) {
  .pie-chart-custome .recharts-legend-wrapper {
    width: 100% !important;
  }
  .pie-chart-custome ul li {
    width: 45%;
  }
}
