@import "./base.module.css";

.option-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.8rem 1.2rem;
  border-bottom: 1px solid var(--color-grey-6);
}
.title-container {
  width: 20%;
  h4 {
    font-weight: 300;
    color: var(--color-grey-3);
  }
}
.btn-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s;
  height: 5rem;
}
.edit-btn-container {
  height: 21rem;

  /* background-color: red; */
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  color: var(--color-primary-shade-2);
  border: none;
  transition: all 0.2s;
  border-radius: var(--border-radius-sm);
  padding: 0.2rem 0.6rem;
  height: fit-content;

  background: transparent;
  &:hover {
    background-color: var(--color-primary-hover);
  }
}
.save-btn {
  background-color: var(--color-primary);
  color: #fff;
  &:hover {
    background-color: var(--color-primary-shade-2);
  }
}
.content {
  width: 70%;
  display: flex;
  align-items: flex-start;
  & > p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--color-grey-3);
  }
}
.edit-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  & label {
    color: var(--color-grey-3);
    font-size: 1.4rem;
  }
  /* & input {
    transition: all 0.2s;
    font-size: 1.4rem;
    padding: 0.6rem;
    border: 1px solid var(--color-grey-6);
    border-radius: var(--border-radius-sm);
    width: 50%;
    background-color: var(--color-white-1);
    color: var(--color-grey-3);
  }
  & input:focus {
    border: 1px solid var(--color-primary-tint-2);
  } */
}
.btn-forbidden {
  cursor: not-allowed;
  color: var(--color-grey-5);
  &:hover {
    background-color: transparent;
  }
}
.logout-btn {
  border: none;
  border-radius: var(--border-radius-sm);
  padding: 0.4rem 0.6rem;
  background-color: var(--color-danger-shade);
  color: #fff;
  transition: all 0.2s;
  width: fit-content;

  &:hover {
    background-color: var(--color-danger);
  }
}

@media (max-width: 750px) {
  .option-container {
    padding: 1.8rem 0;
  }
  .title-container {
    width: 30%;
  }
  .content {
    width: 60%;
    /* & > div > input {
      width: 100%;
    } */
  }
}

@media (max-width: 450px) {
  .option-container {
    padding: 0.8rem 0;
  }
  .title-container {
    font-size: 1.3rem;
    width: 25%;
  }
  .content {
    width: 55%;
    & p {
      font-size: 1.2rem;
    }
  }
  .btn-container {
    width: 20%;
  }
}
