@import "./base.module.css";

.container {
    width: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    & h1 {
        font-size: 2.4rem;
        font-weight: 600;
    }
}
.map {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 1.8rem;
}

.map-container {
    width: 40%;
    border-radius: var(--border-radius-sm);
}
.vicinity-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
    /* background-color: red; */
    & li {
        display: flex;
        justify-content: space-between;
        width: 70%;
        font-size: 1.4rem;
        & svg {
            font-size: 1.8rem;
        }
        & span:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
        }
    }
}

.leaflet-control-attribution {
    display: none;
}
