.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.6rem;
  position: relative !important;
  min-height: 100vh;
  & h1 {
    align-self: flex-start;
    margin: 0;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-grey-5);
  position: sticky;
  background-color: var(--color-white-1);
  z-index: 2 !important;

  margin: 0;
  overflow: hidden;
  top: 0;

  & .content {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    width: 80%;
    overflow: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 4px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-5);
      border-radius: 1px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--color-white-1);
      border-radius: 50px;
    }

    & a {
      padding: 1.4rem 0;
      height: 100%;
      border-bottom: 3px var(--color-white-1) solid;
      transition: 0.2s;
      color: var(--color-grey-3);
    }
    & a:hover {
      color: var(--color-primary-shade-2);
    }
  }
}

.selected {
  color: var(--color-primary-shade-2);
  border-bottom: 3px var(--color-primary) solid !important;
}

@media (max-width: 900px) {
  .container > div {
    width: 90%;
  }
  .container .navbar {
    width: 100%;
  }
  .navbar {
    & .content {
      width: 90%;
      & a:hover {
        color: var(--color-grey-3);
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    gap: 0;
  }
}
