@font-face {
  font-family: ringbearer;
  src: url("./../../../public/fonts/RINGM___.TTF");
}
@import './base.module.css';

.logo {
  width: 100px;
  height: 100px;
  position: relative;
 
}
.logo-text {
  position: absolute;
  top: 40%;
  left: 115%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-family: ringbearer;
  color: var(--color-primary);
}
.logo-svg {
  width: 100%;
  height: 100%;
}