@import "./base.module.css";

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 95%;
  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }
}
.inp-container {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-grey-6);
  border-radius: var(--border-radius-sm);
  color: var(--color-grey-4);
  & input {
    width: 92%;
    border: 1px solid var(--color-white-1);
    &:focus {
      border: 1px solid var(--color-white-1);
    }
  }
  & button {
    width: fit-content;
    background-color: transparent;
    border: none;
    padding: 0.8rem;
  }
  &:focus-within {
    border: 1px solid var(--color-primary);
  }
}
