@import "./base.module.css";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-6);
  padding: 1.8rem 0;

  h1 {
    color: var(--color-grey-3);
  }
  p {
    font-size: 1.4rem;
    color: var(--color-grey-3);
    letter-spacing: 1px;
  }
}
.prof-container {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  border: 1px solid var(--color-grey-5);
  &:hover {
    box-shadow: var(--border-shadow);
  }

  & label {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    content: "";
    left: 0;
  }
  & input {
    display: none;
  }
}
