.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 1.8rem 0;

  & > h1 {
    color: var(--color-grey-3);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  h2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: var(--color-grey-3);
  }
}
.deposite-container {
  display: flex;

  gap: 3.2rem;

  button {
    border: none;
    padding: 1.2rem;
    background-color: var(--color-primary);
    outline: none;
    border-radius: var(--border-radius-sm);
    color: var(--color-white-2);
  }
}
.inp-container {
  width: 80%;
  display: flex;
  position: relative;
  transition: all 0.2s;

  label {
    position: absolute;
    background-color: var(--color-white-1);
    top: 50%;
    left: 0%;
    transform: translate(30%, -50%);
    transition: all 0.2s;
    color: var(--color-grey-4);
  }

  input {
    width: 100%;
    background-color: var(--color-white-1);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-grey-6);
    padding: 1.2rem;
  }
  &:focus-within label {
    top: 0;
    left: 0;
    font-size: 1.4rem;
    color: var(--color-grey-5);
  }
}
.label-focused {
  top: 0 !important;
  left: 0 !important;
  font-size: 1.4rem !important;
  color: var(--color-grey-5) !important;
}
